.App {
  text-align: center;
}

.NavBar {
  height: 5em;
  top: 0;
  width: 100%;
}

.NavBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.NavBar li {
  /* display: inline-block; */
  padding: 10px;
}

.NavBar li a {
  color: white;
  text-decoration: none;
}

.container {
  margin-top: 6em;
}

.Logo {
  font-size: 3em;
  margin-left: 13vw;
  font-family: "righteous";
}


/* MAP */
path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}


/* states list */

.states ul{
  list-style-type: none;
}

.states ul{
  columns: 7;
  width: 50%;
  margin: 0 auto;
  
}

.states {
  width: 100%;
  height: 300px;
  background: #000000;  
  opacity: .65;
  margin-top: 16vh;
}

.states a {
  text-decoration: none;
  color: white;
  font-family: "Neuton", sans-serif;
}

.states h1 {
  color: #E6780A;
}

.states a:hover {
  font-weight: 900;
  color: #E6780A;
}

/* whole app container */
body {
  width: 100%;
  background: rgb(12,64,96);
  background: linear-gradient(232deg, rgba(12,64,96,1) 14%, rgba(24,94,124,1) 34%, rgba(95,182,101,1) 62%, rgba(201,204,68,1) 97%);  background-size: cover;
  background-repeat: no-repeat;
}

html {
  background: #000000;
}

.StatePage {
  height: 100vh;
}

.SupportBtn:hover {
  cursor: pointer;
}

/* form */



























